// app global css in Sass form
.bg-sidebar
  background: $sidebar !important

.innerpadding > *
  padding: 10px

h5
  margin-block: 10px

tbody tr
  background-color: #f3f3fa

.q-table__container
  background-color: #f3f3fa

tbody tr:nth-child(odd)
  background-color: #fafafa

.alternateGrey
  background-color: #f3f3fa

.alternateGrey:nth-child(odd)
  background-color: #fafafa

.page-content
  max-width: 1600px
  margin: auto

h1, h2, h3, h4, h5, h6
  margin-block: 10px
  margin-inline: 0

p
  margin: unset

.clickable
  cursor: pointer
