// app global css in Sass form
.bg-sidebar
  background: $sidebar !important

.innerpadding > *
  padding: 10px

h5
  margin-block: 10px

tbody tr
  background-color: #f3f3fa

.q-table__container
  background-color: #f3f3fa

.q-table__middle
  margin: 15px

tbody tr:nth-child(odd)
  background-color: #fafafa

.alternateGrey
  background-color: #f3f3fa

.alternateGrey:nth-child(odd)
  background-color: #fafafa

.page-content
  max-width: 1600px
  margin: auto
